*{
  outline: none;
  /* transition: color 1s;
  transition: background-color 1s; */
}
body{
  transition: background-color 1s;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
h1 {
  color: #fff;
}
button {
  background-color: #ffff;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  padding: 29px 70px;
  cursor: pointer;
  transition: color 1s;
}
button:hover {
  background-color: #ffffffe0;
}
button:active {
  background-color: #ffffffb1;
}